.guides .slide span {
    font-weight: 700;
    font-size: 16px;
}

 .slick-arrow::before {
    margin: 0 !important;
    // background-color: white;
    border-radius: 50%;
    font-size: 30px;
    // padding: 1px;
    // background-color: black;
    
}

.slick-next::before {
    margin: 0 !important;
    // background-color: white;
    border-radius: 50%;
    font-size: 30px;
}

// .slick-arrow {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }



// .guides .slick-arrow::after {
//     margin-top: 3px;
// }