header .ant-dropdown-open svg {
    transform: rotate(180deg);
    transition: all 0.3s;
}

header .ant-dropdown-trigger svg {
    transition: all 0.3s;
}

.env_header {
    border-bottom: 1px solid rgb(236, 227, 227);
    background-color: white;
    
    position: sticky;
    top: 0;

}

.header_content .header_navigation .btn_login:hover {
    background-color: rgb(104, 226, 104);
    color: white;
    transition: all 0.5s;
}

.header_content .header_navigation .btn_register:hover {
    background-color: rgb(18, 175, 18);
    
    transition: all 0.5s;
}